body{
    margin: 0;
}

.container{
    display: grid;
    grid-template-rows: 50px
                        auto;
   
    grid-template-areas: "header"
                        "body"

}

nav{
    float: right;
    margin-right: 20px;
}
nav ul{
    list-style: none;
    
}
nav li{
    display: inline-block;
    margin-left: 70px;
    position: relative;

}
nav a{
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

nav a:hover{
    color: brown;
}

nav a::before{
    content:'';
    display: block;
    height: 2.5px;
    width: 0%;
    background-color: black;

    position: absolute;
    transition: all ease-in-out 250ms
}

nav a:hover::before{
    width: 100%;
}
/* banner block*/

.banner{
 
    grid-area: header;
    background-color: #A74D4D;
    


}


.sutd{
    height: 40px;
    border-radius: 5px;
    margin: 5px;

    

}

.soar{
    height: 40px;
    border-radius: 10px;
    margin: 5px;