
.container{
    display: grid;
    grid-template-rows: 0.5fr 4fr auto;
    grid-template-columns: 50% auto;
    grid-gap: 50px;

}


/* banner block*/

.banner{
    grid-row: 1/2;
    grid-column: 1/-1;
    height: 50px;

}

.sutd{
    height: 50px;
    width: 100px;
    

}

.soar{
    height: 50px;
    width: 50px;
    

}



/* bar block*/

/* header block*/
.header{
    grid-row: 2/3;
    grid-column: 1/-1;
    text-align: center;
    background: #02362c;
    color: white;
    font-size: 30px;
    color: black;
  
}


#p1{
    color: cornsilk;
}

.momotext{
    font-size: 100px;
    color: blanchedalmond;
    margin-top: 20px;
}



.text{
    max-width: 200px;
    width: auto;
    height: 50px;
    border-radius: 10px 0 0 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    display: inline-block;
   

}
.submit{
    position: relative;
    left: -5px;
    bottom: +2px;
    max-width: 60px;
    width: auto;
    height: 52px;
    border-radius: 0 10px 10px 0;
    background-color: #da7c11;
    font-weight: bold;
    margin-bottom: 50px;



}
/* header block*/


/* diagrams block*/



.chart{
    grid-row: 3/4;
    grid-column: 1/2;

   

}

#map{
    align-items: center;
    grid-row: 3/4;
    grid-column: 2/3;
  
}



/* diagrams block*/