
.container{
    display: grid;
    grid-template-rows: 50px 400px 300px;
    

}


/* banner block*/

.banner{
    
    height: 50px;
    width: auto;
}

.sutd{
    height: 50px;
    width: 100px;
    

}

.soar{
    height: 50px;
    width: 50px;
    

}



/* bar block*/

/* header block*/
.header{
    
    text-align: center;
    background: #02362c;
    color: white;
    font-size: 30px;
    color: black;
    display: block;
    justify-self: stretch;
    align-self:stretch;
}


#p1{
    color: cornsilk;
}

.momotext{
    font-size: 100px;
    color: blanchedalmond;
    margin-top: 20px;
}



.text{
    max-width: 200px;
    width: auto;
    height: 50px;
    border-radius: 10px 0 0 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    display: inline-block;
   

}
.submit{
    position: relative;
    left: -5px;
    bottom: +2px;
    max-width: 60px;
    width: auto;
    height: 52px;
    border-radius: 0 10px 10px 0;
    background-color: #da7c11;
    font-weight: bold;
    margin-bottom: 50px;



}
/* header block*/


/* diagrams block*/

.parent{
    display: flex;
    justify-content: space-around;
    


.chart{
    display: block;

}

#map{
    display: block;
}


}

/* diagrams block*/